body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #e6e4e4;
}

header {
  background-color: #003366;
  color: white;
  padding: 1rem;
}

.principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.principal ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.principal a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.principal a:hover {
  text-decoration: underline;
}

.nuevo-restaurante {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.nuevo-restaurante h2 {
  margin-block-end: 1.5rem;
}

.form-nuevo {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  inline-size: 80%;
  max-inline-size: 600%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-nuevo label {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

.form-nuevo input {
  padding: 0.8rem 1rem;
  border: 1px solid;
  border-radius: 8px;
  font-size: 1rem;
}

.form-nuevo button {
  padding: 0.8rem 1rem;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600;  
  cursor: pointer;
  gap: 0.5rem;
  align-items: center;
}

.form-nuevo button i {
  font-size: 1.3rem; 
}

.form-nuevo button:hover {
  background-color: #0163c5;
}

footer {
  text-align: center;
  background-color: #003366;
  color: white;
  padding: 0.5rem;
  position: relative;
}